In [16]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df = pd.read_csv('../data/final_data.csv')

In [3]:
df.head()

,movie_id,title,tags
0,19995,Avatar,22nd centuri parapleg marin dispatch moon pand...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believ dead come back li...
2,206647,Spectre,cryptic messag bond past send trail uncov sini...
3,49026,The Dark Knight Rises,follow death district attorney harvey dent bat...
4,49529,John Carter,john carter warweari former militari captain w...

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000)

In [5]:
x = tfidf.fit_transform(df["tags"]).toarray()

In [6]:
x[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [7]:
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
sim_vectors = cosine_similarity(x)

In [9]:
sim_vectors.shape

(4805, 4805)

In [10]:
def recommend(movie):
    movie_index = df[df['title']==movie].index[0]
    vector = sim_vectors[movie_index]
    movie_list = sorted(enumerate(vector), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [11]:
recommend('Iron Man')

Iron Man 2
Iron Man 3
Avengers: Age of Ultron
Winnie Mandela
Dead Man Down

In [12]:
recommend("Winnie Mandela")

3 Backyards
Dead Man Down
Glitter
The Best Man Holiday
Collateral Damage

In [18]:
pickle.dump(df, open('../models/movies.pkl','wb'))
pickle.dump(sim_vectors, open('../models/similarity.pkl','wb'))