In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/final_data.csv')

In [3]:
df.head()

,movie_id,title,tags
0,19995,Avatar,22nd centuri parapleg marin dispatch moon pand...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believ dead come back li...
2,206647,Spectre,cryptic messag bond past send trail uncov sini...
3,49026,The Dark Knight Rises,follow death district attorney harvey dent bat...
4,49529,John Carter,john carter warweari former militari captain w...

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000)

In [11]:
x = tfidf.fit_transform(df["tags"]).toarray()

In [13]:
x[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
sim_vectors = cosine_similarity(x)

In [16]:
sim_vectors.shape

(4805, 4805)

In [17]:
def recommend(movie):
    movie_index = df[df['title']==movie].index[0]
    vector = sim_vectors[movie_index]
    movie_list = sorted(enumerate(vectors), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [22]:
recommend('Iron Man')

NameError: name 'vectors' is not defined

In [19]:
movie = "Iron Man"

In [20]:
movie_index = df[df['title']==movie].index[0]

In [21]:
movie_index

68

In [23]:
vector = sim_vectors[movie_index]

In [24]:
vector

array([0.0276362 , 0.01388317, 0.        , ..., 0.        , 0.        ,
       0.        ])